<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FUEL_BACKEND_ENVIRONMENT</key>
	<string>$(FUEL_BACKEND_ENVIRONMENT)</string>
	<key>FUEL_BACKEND_BASE_URL</key>
	<string>$(FUEL_BACKEND_BASE_URL)</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Fuel does not write data to Apple Health. Your nutrition and hydration logs stay in Fuel unless you export them yourself.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.pak.fuel</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fuel</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.pak.fuel.scan</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Scan a meal</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Choose a meal photo</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>photo.on.rectangle</string>
		</dict>
	</array>
</dict>
</plist>
